<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <script>
        var del = function(id) {
            var r = new XMLHttpRequest();
            r.open("DELETE", "languages/" + id, true);
            r.onreadystatechange = function() {
                if (r.readyState != 4 || r.status != 200) return;
                console.log(r.responseText);
            };
            r.send();
        }
    </script>
</head>

<body>
    <form method="post" action="/languages">
        <input type='text' size='20' name='language'>
        <button type="submit" name="submit"><i class="material-icons">add_circle_outline</i></button>
    </form>
    </br>
    <% for(var i=0; i<languages.length; i++) { %>
        <%= languages[i].language %>
            <BUTTON onclick="del('<%= languages[i].idlanguages %>')"><i class="material-icons">delete</i></BUTTON>
            </br>
            <% } %>
</body>

</html>